.parent {
    -fx-background-color: #f9f9f9;
}

.navbar {
    -fx-background-color: #414b56;
}
.navbar .header {
    -fx-background-color: #3792ed;
    -fx-text-fill: #fff;
}
.navbar .nav-row:hover {
    -fx-background-color: #3a424d;
}
.navbar .nav-row .nav-icon {
    -fx-fill: #7f8287;
}
.navbar .nav-row .nav-text {
    -fx-text-fill: #9198a3;
}
.scroll-pane {
   -fx-background: #414b56;
   -fx-border-color: #414b56;
   -fx-focus-color: transparent;
}
.navbar .seriesheader {
    -fx-text-fill: #fff;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden ;
}

.content-box {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #dcdcdc;
}
.content-box .header {
    -fx-text-fill: #2e87e0;
}
.content-box .body {
    -fx-text-fill: #2e87e0;
}