.parent {
    -fx-background-color: #f9f9f9;
}

.navbar {
    -fx-background-color: #414b56;
}
.navbar .header {
    -fx-background-color: #3792ed;
    -fx-text-fill: #fff;
}

.navbar .nav-button:hover {
    -fx-background-color: #3a424d;
}
.navbar .nav-button .nav-icon {
    -fx-fill: #7f8287;
}
.navbar .nav-button .nav-text {
    -fx-text-fill: #9198a3;
}
.navbar .nav-button-selected .nav-icon {
    -fx-fill: #ffffff;
}
.navbar .nav-button-selected .nav-text {
    -fx-text-fill: #ffffff;
}

.scroll-pane {
    -fx-background: #414b56;
    -fx-border-color: #414b56;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.navbar .seriesheader {
    -fx-text-fill: #fff;
}

.series .series-content-container .series-content {
    -fx-text-fill: #9198a3;
}
.series-selected .series-content-container .series-content {
    -fx-text-fill: #ffffff;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden ;
}

.content-box {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #dcdcdc;
}
.content-box .header {
    -fx-text-fill: #2e87e0;
}
.content-box .body {
    -fx-text-fill: #2e87e0;
}

.training-scrollpane {
    -fx-background: #ffffff;
    -fx-border-color: #ffffff;
    -fx-focus-color: transparent;
}

.button-primary {
    -fx-background-color: #3792ed;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 150px;
    -fx-pref-height: 15px;
}

.button-negative {
    -fx-background-color: #FF0000;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 150px;
    -fx-pref-height: 15px;
}